# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Build
# ==========================
dist/

# ==========================
# Environment
# ==========================
.env
.env.*
!.env.example

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Coverage
# ==========================
coverage/

# ==========================
# Cache
# ==========================
.vite/
.cache/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
desktop.ini
