PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.t6wwbjt.mongodb.net
NODE_ENV=production
CORS_ORIGIN=https://yourdomain.com,https://www.yourdomain.com

ACCESS_TOKEN_SECRET=your_super_secret_access_token_key_here
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_super_secret_refresh_token_key_here
REFRESH_TOKEN_EXPIRY=10d

DEFAULT_ADMIN_EMAIL=admin@yourdomain.com
DEFAULT_ADMIN_PASSWORD=Admin@123456

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=wdfe
CLOUDINARY_API_KEY=d
CLOUDINARY_API_SECRET=dw

# Dual Automated Email Configuration (Hostinger Webmail / Gmail)
# For Hostinger: Host = smtp.hostinger.com | Port = 465 (SSL)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465dwijaemr@bra
SMTP_PASS=password
COMPANY_EMAIL=ijsshar.work@gmail.com

RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key_here
